@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Chrome, Safari, and Opera */
::-webkit-scrollbar {
  width: 8px; /* Reduced width */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 32, 58);
}

/* For Internet Explorer and Edge */
body {
  scrollbar-width: auto; /* Changed to auto */
  scrollbar-color: rgb(0, 32, 58) #f1f1f1;
  
}